* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hace el scroll más delgado en navegadores 
basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e8eb;
}

/*Estilos de header*/
.header {
  background-color: #12A493;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header__logo {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  color: #fff;
}

.header__menu {
  display: flex;
  width: 100%;
}

.header__menu-item {
  width: 100%;
}

.header__menu-item a {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.header__menu-item a:hover {
  color: #e0e0e0;
}

.header__toggle {
  display: none;
  font-size: 1.4em;
  cursor: pointer;
  background: none;
  border: none;
}

@media screen and (max-width:750px) {

  .header__nav {
    width: 100%;
    padding-top: 4.5rem;
    background-color: #12A493;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .header__nav.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .header__menu-item:hover {
    background-color: #3e3e3e;
  }

  .header__logo {
    z-index: 10;
  }

  .header__toggle {
    display: block;
    z-index: 10;
  }

  .header__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}


/*Estilos de sección hero*/
.hero {
  background-color: #12A493;
}

.hero__container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 450px;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
}

.hero__title {
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-size: 2.5em;
}

.hero__description {
  margin-bottom: 1.5rem;
  font-size: 1.2em;
}

.btn {
  width: 150px;
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn--primary {
  background-color: #ffffff;
  color: #12A493;
}

.btn--primary:hover {
  background-color: #e0e0e0;
}

/*Estilos de sección cliente*/
.client {
  background-color: #f8f8f8;
}

.client__container {
  text-align: center;
  padding: 3rem 1rem;
  max-width: 900px;
  margin: auto;
  color: #3b3b3b;
}

.client__title {
  font-weight: 500;
  font-size: 1.5em;
  font-weight: bolder;
}

.client__description {
  padding: 1rem;
  color: #4e4e4e;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.client__list-item {
  width: 100px;
}

/*Sección para features*/
.feature {
  background-color: #fff;
}

.feature__container {
  max-width: 900px;
  margin: auto;
  padding: 3rem 1rem;
}

.feature__header {
  text-align: center;
}

.feature__title {
  color: #12A493;
  font-weight: 600;
  font-size: 1em;
}

.feature__subtitle {
  padding: 1rem;
  font-size: 2em;
  font-weight: 600;
}

.feature__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  gap: 0.8rem;
}

.feature__card {
  border: 1px solid #f5f5f5;
  padding: 1.5rem;
  border-radius: 0.5rem;
  flex-basis: 280px;
  flex-grow: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.feature__card:hover {
  transform: translateY(-5px);
}

.feature__icon {
  color: #12A493;
  font-size: 1.5em;
}

.feature__card-title {
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.1em;
}

.feature__card-description {
  text-align: left;
  color: #4e4e4e;
}

.feature__demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
}

.feature__demo-video {
  flex-basis: 400px;
  border-radius: 0.5rem;
  flex-grow: 1;
}

.feature__demo-video video {
  border-radius: inherit;
}

.feature__demo-content {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.feature__demo-title {
  font-size: 1.3em;
  font-weight: 600;
}

.feature__demo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature__demo-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4e4e4e;
}

.feature__demo-item span {
  color: #12A493;
}

/*Sección para testimonial*/
.testimonial {
  background-color: #f8f8f8;
}

.testimonial__container {
  max-width: 900px;
  margin: auto;
  padding: 3rem 1rem;
}

.testimonial__header {
  text-align: center;
}

.testimonial__title {
  color: #12A493;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.testimonial__description {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.testimonial__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.testimonial__client {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  flex-basis: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__client-cite {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.testimonial__client-cite span {
  color: #12A493;
  font-size: 1.5em;
  flex-basis: 40px;
  text-align: center;
  flex-shrink: 0;
}

.testimonial__client-description {
  font-weight: 400;
  font-size: 0.9em;
}

.testimonial__client-information {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__client-avatar {
  width: 40px;
  height: 40px;
}

.testimonial__client-details {
  flex-grow: 1;
  flex-shrink: 2;
  font-size: 0.8em;
}

.testimonial__client-name {
  font-weight: 500;
}

.testimonial__client-logo {
  width: 100px;
  height: 50px;
}

.testimonial__client-company {
  font-weight: 600;
}

.testimonial__client-position {
  color: #4e4e4e;
}

/*Sección para contact*/
.contact {
  background-color: #fff;
}

.contact__container {
  max-width: 900px;
  margin: auto;
  padding: 3rem 1rem;
}

.contact__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact__title {
  color: #12A493;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact__information,
.contact__form {
  padding: 1.5rem;
  border-radius: 0.5rem;
  flex-basis: 300px;
  flex-grow: 1;
}

.contact__information {
  background-color: #12A493;
  color: #fff;
  padding: 2rem;
}

.contact__information-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.contact__information-description {
  margin-bottom: 2rem;
}

.contact__information-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__information-item {
  display: flex;
  gap: 0.8rem;
}

.contact__information-item span {
  font-size: 1.1em;
}

.contact__information-item a {
  cursor: pointer;
  word-break: break-word;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ccc;
}

.contact__form-label {
  margin-bottom: 0.1rem;
  font-size: 1em;
}

.contact__form-field {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

.contact__form-field--message {
  height: 70px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.contact__form-field::placeholder {
  color: #888;
  font-size: 0.8em;
}

.contact__form-row--terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  gap: 0.6rem;
}

.contact__form-check {
  appearance: auto;
  flex-basis: 15px;
  height: 15px;
}

.contact__form-label--terms {
  font-size: 0.8em;
  line-height: normal;
  margin-bottom: 0;
  flex-basis: 150px;
  flex-grow: 1;
}

.contact__form-button {
  color: #ffffff;
  background-color: #12A493;
  text-align: center;
  flex-basis: 140px;
  font-weight: 500;
}


/*Sección footer*/

.footer {
  background-color: #12A493;
}

.footer__container {
  max-width: 900px;
  margin: auto;
  padding: 3rem 1rem;
  color: #fff;
}

.footer__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer__card {
  flex-basis: 250px;
  padding: 0 2rem;
  flex-grow: 1;
}

.footer__card--contact {
  flex-grow: 2;
}

.footer__card-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1em;
}

.footer__card-item a {
  cursor: pointer;
  word-break: break-word;
}

.footer__card-item a:hover {
  color: #e0e0e0;
}

.footer__card-list--follow {
  display: flex;
  gap: 1rem;
}

.footer__card-list--follow a {
  font-size: 1.5em;
}

.footer__signature {
  border-top: 2px solid #ccc;
}

.footer__signature-copyright {
  margin-top: 1rem;
  text-align: right;
  padding: 0 2rem;
}